.heading{
    width: 99vmax;
    height: 120vh;
    position: absolute;
    background-image: url('../asset/img/heading.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 1px -150px;
    position: fixed;
}

.gt2{
    font-size: 15px;
    padding-top: 3px;
    margin-left: -90px;
    position: absolute;
    position: fixed;
}

.headingtext{
    margin-top: 150px;
    margin-left: 510px;
    float: center;
    text-align: center;
    position: fixed;
    position: absolute;
}

.textheading{
    text-align: center;
    margin-left: 150px;
    margin-top: 200px;
    position: fixed;
    position: absolute;
}

